@font-face
{
	font-family: segoep;
	src:url(segoeprb.ttf);
}

h2
{
	color:teal;
	font-family: segoep;
}



button
{
	width:60px;
	height: 60px;
	background: grey;
	border:none;
	border-radius: 7px;	
	outline: none;
	font-family: segoep;
	font-size: 30px;
	margin: 10px;
	position:relative;
	vertical-align: top;
}

button:hover{
	background:teal;
}
h2:hover
{
	color:green;
}

#ale
{
	border :5px;
	background: cyan;
	background-image: linear-gradient(to right,cyan,aquamarine,turquoise,cadetblue,teal,lightskyblue);
	width: 300px;
	border-radius: 10px 20px 10px 20px;
	margin-top: 200px;
}

#cont
{
	display: none;
	border :5px solid teal;
	background: cyan;
	background-image: linear-gradient(to right,cyan,aquamarine,turquoise,cadetblue,teal,lightskyblue);
	width: 300px;
	border-radius: 10px 20px 10px 20px;
}
span{
	margin:15px;
	font-family:segoep;
	color: grey;
	font-size:ssmall;
}

#line
{
    position:relative;
    animation: anims ;
    animation-duration: 20s;
    animation-delay: 1s;
    background-color:teal;
    height: 10px;
    border:none;
    border-radius:5px;
    width:56%;
    animation-iteration-count: infinite;
}

@keyframes anims
{
        0%{width:56%;  background-color:teal;}
        12.5%{width:42%;  background-color:cyan;}
        24.5%{width:28%;  background-color:lightskyblue;}
        37%{ width:14%;  background-color:green;}
        49.5%{width:0%;   background-color:yellow;}
        62%{width:14%;   background-color:green;}
        74.5%{width:28%;   background-color:lightskyblue;}
        87%{width:42%;   background-color:cyan;}
        100%{width:56%;   background-color:teal;}

}


